<header class="bg-primary">
  <nav class="mx-auto flex items-center px-6 py-2" aria-label="Global">
    <a routerLink="/" title="Homepage" class="flex-none flex items-center">
      <app-icon-logo [size]="23" />
    </a>
    <span class="text-xl flex items-center me-14">AHB Tabellen</span>
    <div class="flex-grow">
      <ng-content select="app-ahb-search-form-header"></ng-content>
    </div>
    <div class="flex gap-2">
      <ng-content select="app-input-search-enhanced"></ng-content>
      <app-login-button />
    </div>
  </nav>
</header>
