<header class="bg-primary">
  <nav
    class="mx-auto flex items-center justify-between px-6 py-2"
    aria-label="Global"
  >
    <div class="flex items-center">
      <a routerLink="/" title="Homepage" class="flex-none flex items-center">
        <app-icon-logo [size]="23" />
      </a>
      <span class="text-xl flex items-center mr-14">AHB Tabellen</span>
      <ng-content select="app-ahb-search-form-header"></ng-content>
      <div class="flex items-center ml-2">
        <ng-content select="app-pruefi-navigation"></ng-content>
      </div>
    </div>
    <div class="flex-none">
      <ng-content select="app-input-search-enhanced"></ng-content>
    </div>
  </nav>
</header>
