<div class="flex flex-col items-start mt-2 w-full">
  <input
    class="rounded border-2 border-white bg-tint py-2.5 px-2 focus:outline-0 w-full"
    type="number"
    list="pruefi-list"
    [formControl]="control"
    (input)="onInputChange($event)"
    maxlength="5"
  />
  <label
    for="format-version-select"
    class="ml-3 -mt-14 text-xs inline-block text-slate-500 text-[12px] bg-white px-1"
  >
    Prüfidentifikator
  </label>
</div>

<datalist id="pruefi-list">
  @for (pruefi of pruefis$ | async; track pruefi) {
    <option [value]="pruefi">{{ pruefi }}</option>
  }
</datalist>
