<div class="flex flex-col items-start mt-2 w-full">
  <input
    class="rounded-lg border-2 border-white bg-hf-pastell-rot py-[10.5px] px-2 focus:outline-0 w-full"
    type="text"
    list="pruefi-list"
    [formControl]="control"
    (input)="onInputChange($event)"
    placeholder="Bitte auswählen oder suchen"
    maxlength="50" />
  <label
    for="format-version-select"
    class="ml-3 -mt-14 text-xs inline-block text-slate-500 text-[12px] bg-white px-1">
    Prüfidentifikator
  </label>
</div>

<datalist id="pruefi-list">
  @for (suggestion of pruefis$ | async; track suggestion) {
    <option [value]="suggestion">{{ suggestion }}</option>
  }
</datalist>
