/pulumi
docker-compose.yml
node_modules
/dist
/.vscode
/.nx
/.angular
.editorconfig
.eslintrc.json
.git
.gitignore
.nvmrc
.prettierignore
.prettierrc
README.md
*.tsbuildinfo


.DS_Store
.env
.example.env
.github
.gitmodules
.idea
.octopus
azure-mock
