[submodule "azure-mock/data"]
	path = azure-mock/data
	url = https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher
[submodule "src/assets/companystylesheet"]
	path = src/assets/companystylesheet
	url = https://github.com/Hochfrequenz/companystylesheet.git
