<table class="table-auto w-full text-sm text-gray-500">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50" #header>
    <tr>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Segmentgruppe
      </th>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Segmentname
      </th>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Segment
      </th>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Datenelement
      </th>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Qualifier
      </th>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Name
      </th>
      <th scope="col" class="sticky top-0 bg-gray-50 px-6 py-3 text-left">
        Bedingung
      </th>
    </tr>
  </thead>
  <tbody>
    @for (line of lines(); track line.index) {
      <tr class="border-b">
        <td
          class="px-6 py-4"
          [innerHTML]="line.segment_group_key | highlight: highlight()"
        ></td>
        <td
          class="px-6 py-4"
          [innerHTML]="line.section_name | highlight: highlight()"
        ></td>
        <td
          class="px-6 py-4"
          [innerHTML]="line.segment_code | highlight: highlight()"
        ></td>
        <td
          class="px-6 py-4"
          [innerHTML]="line.data_element | highlight: highlight()"
        ></td>
        <td
          class="px-6 py-4"
          [innerHTML]="line.value_pool_entry | highlight: highlight()"
        ></td>
        <td
          class="px-6 py-4"
          [innerHTML]="line.name | highlight: highlight()"
        ></td>
        <td
          class="px-6 py-4"
          [innerHTML]="line.ahb_expression | highlight: highlight()"
        ></td>
      </tr>
    }
  </tbody>
</table>
