<div class="inline-block bg-tint rounded-full py-3 px-5 w-full flex">
  <!-- search-icon -->
  <button class="align-middle cursor-default">
    <app-icon-magnifying-glass />
  </button>
  <!-- input -->
  <input
    class="bg-transparent mx-5 align-middle focus:outline-0 flex-1"
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Suchbegriff eingeben ..."
    (keyup.enter)="keyupEnter.emit()"
  />
  @if (totalResults()) {
    <div class="align-middle pe-5 text-gray-500">
      {{ selectedPosition() }}/{{ totalResults() }}
    </div>
  }
  <!-- previous/next buttons -->
  <button class="align-middle" (click)="previousClick.emit()">
    <app-icon-arrow-left />
  </button>
  <button class="align-middle ms-3" (click)="nextClick.emit()">
    <app-icon-arrow-right />
  </button>
</div>
