<header class="bg-primary">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 me-6">
        <span class="sr-only">Hochfrequenz Unternehmensberatung GmbH</span>
        <img
          class="h-8 w-auto"
          src="/assets/logo.png"
          alt="Firmenlogo von Hochfrequenz"
        />
      </a>
      <h1 class="text-xl">AHB Tabelle</h1>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Features</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Marketplace</a
      >
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Company</a
      >
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
        >Log in <span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </nav>
</header>
<section>hallo</section>
