<footer class="flex items-center bg-tint px-3 py-2">
  <div class="flex-none">
    <a href="https://www.hochfrequenz.de/" target="_blank" rel="noopener noreferrer">
      <img
        src="assets/companystylesheet/logo_weiss.svg"
        alt="Hochfrequenz Logo"
        class="w-[160px]" />
    </a>
  </div>

  <div class="flex-1 flex justify-center">
    <div class="flex items-center text-sm text-black/70 space-x-1 text-center">
      <p class="flex items-center flex-wrap justify-center">
        © {{ currentYear }} - made with <app-icon-heart /> by
        <a
          class="ml-1 mr-2 hover:underline font-bold"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.hochfrequenz.de/"
          >Hochfrequenz</a
        >
        and
        <a
          class="ml-1 mr-2 hover:underline font-bold"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.lynq.tech/"
          >Lynqtech</a
        >
        | powered by
        <a
          class="ml-1 mr-2 hover:underline"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Hochfrequenz/kohlrahbi"
          >kohlr_AHB_i</a
        >
        |
        <a
          class="ml-1 mr-2 hover:underline"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.hochfrequenz.de/datenschutz/"
          >Datenschutz</a
        >
        |
        <a
          class="ml-1 mr-2 hover:underline"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.hochfrequenz.de/impressum/"
          >Impressum</a
        >
        |
        <a
          class="ml-1 mr-2 hover:underline"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.hochfrequenz.de/kontakt/"
          >Kontakt</a
        >
      </p>
    </div>
  </div>

  <!-- to compensate the padding caused by the logo on the left -->
  <div class="flex-none w-[160px]"></div>
</footer>
