<footer class="flex justify-between items-center bg-tint px-6 py-3">
  <a
    href="https://www.hochfrequenz.de/"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center">
    <img src="assets/companystylesheet/hf_logo_weiss.svg" alt="Hochfrequenz Logo" class="h-6" />
  </a>
  <span class="text-sm text-gray-400 flex items-center space-x-1">
    <span
      >made with ♡ by
      <a
        class="text-slate-500"
        href="https://www.hochfrequenz.de/"
        target="_blank"
        rel="noopener noreferrer"
        >Hochfrequenz</a
      >
      and
      <a
        class="text-slate-500"
        href="https://www.lynq.tech/"
        target="_blank"
        rel="noopener noreferrer"
        >Lynqtech</a
      ></span
    >
    <span>|</span>

    <span
      >powered by
      <a
        class="text-slate-500"
        href="https://github.com/Hochfrequenz/kohlrahbi"
        target="_blank"
        rel="noopener noreferrer"
        >kohlr_AHB_i</a
      ></span
    >
    <span>|</span>

    <a
      class="text-slate-500"
      href="https://www.hochfrequenz.de/datenschutz/"
      target="_blank"
      rel="noopener noreferrer"
      >Datenschutz</a
    >
    <span>|</span>

    <a
      class="text-slate-500"
      href="https://www.hochfrequenz.de/impressum/"
      target="_blank"
      rel="noopener noreferrer"
      >Impressum</a
    >
    <span>|</span>
    <a
      class="text-slate-500"
      href="https://www.hochfrequenz.de/kontakt/"
      target="_blank"
      rel="noopener noreferrer"
      >Kontakt</a
    >
  </span>
  <div class="w-[23px]"></div>
</footer>
