<footer class="flex justify-between items-center bg-tint px-6 py-3">
  <a class="flex items-center">
    <app-icon-logo [size]="23" />
  </a>
  <span class="text-sm text-gray-400 font-bold flex items-center space-x-1">
    <span>made with 💚</span>
    <span>by <a class="text-slate-500" href="https://www.hochfrequenz.de/">Hochfrequenz</a> and <a
        class="text-slate-500" href="https://www.lynq.tech/">Lynqtech</a></span>
    <span>|</span>
    <span>powered by <a class="text-slate-500" href="https://github.com/Hochfrequenz/kohlrahbi">kohlr_AHB_i</a></span>
    <span>|</span>
    <span>Impressum</span>
    <span>|</span>
    <span>Datenschutz</span>
  </span>
  <div class="w-[23px]"></div>
</footer>