<div class="min-h-screen flex flex-col">
  <section class="bg-primary py-28 flex flex-grow items-center justify-center">
    <div class="rounded-lg bg-tint p-12 shadow-md">
      <h1 class="text-xl pb-5">AHB Tabellen</h1>
      <h2
        class="text-[12px] border-b inline-block pb-[12px] mb-[20px] uppercase"
      >
        Anwendungshandbücher für Menschen
      </h2>
      <h3 class="font-bold pb-2">Finde dein AHB</h3>
      <button
        class="rounded-full bg-primary text-white px-5 py-2 shadow-md"
        routerLink="/ahb"
      >
        Jetzt öffnen
      </button>
    </div>
  </section>
  <section class="flex flex-col lg:flex-row bg-tint">
    <div class="flex-1 px-10 pt-10">
      <h4 class="font-bold text-sm mb-2">
        Willkommen bei Ahbesser – Anwendungshandbücher für Menschen
      </h4>
      <p class="text-[12px]">
        Bei uns steht der Mensch im Mittelpunkt. Unser Ziel ist es, die
        komplexen und oft schwer verständlichen Anwendungshandbücher der
        deutschen Energiewirtschaft benutzerfreundlich und zugänglich zu machen.
        Mit unserem Service können Sie gezielt nach Formatversionen und
        Prüfidentifikatoren suchen und ein einzelnes Dokument nach spezifischen
        Details durchsuchen. So sparen Sie wertvolle Zeit und Nerven, die Sie
        stattdessen in Ihr Kerngeschäft investieren können.
      </p>
    </div>
    <div class="flex-1 px-10 pt-10">
      <h4 class="font-bold text-sm mb-2">
        Effiziente Suche und einfache Navigation
      </h4>
      <p class="text-[12px]">
        Wir wissen, dass das Durchforsten riesiger PDF-Dateien eine mühsame und
        zeitraubende Aufgabe sein kann. Daher bieten wir Ihnen eine innovative
        Plattform, die diesen Prozess erheblich vereinfacht. Unsere
        benutzerfreundliche Suchfunktion ermöglicht es Ihnen, schnell und
        präzise die Informationen zu finden, die Sie benötigen. Geben Sie
        einfach die gewünschte Formatversion oder den Prüfidentifikator ein, und
        schon gelangen Sie zum relevanten Dokument – klar strukturiert und
        leicht verständlich aufbereitet.
      </p>
    </div>
    <div class="flex-1 px-10 pt-10">
      <h4 class="font-bold text-sm mb-2">Ihre Vorteile auf einen Blick</h4>
      <p class="text-[12px]">
        Mit AHB Tabellen wird die Arbeit mit Anwendungshandbüchern so effizient
        und unkompliziert wie nie zuvor. Unsere Plattform bietet Ihnen:
      </p>
      <ul class="list-disc ps-2 my-2">
        <li class="text-[12px]">
          <span class="font-bold">Zeitersparnis:</span> Finden Sie gezielt die
          Informationen, die Sie benötigen, ohne lange suchen zu müssen.
        </li>
        <li class="text-[12px]">
          <span class="font-bold">Benutzerfreundlichkeit:</span> Eine intuitive
          Navigation und klare Strukturen erleichtern Ihnen den Zugang zu den
          Dokumenten.
        </li>
        <li class="text-[12px]">
          <span class="font-bold">Transparenz und Klarheit:</span> Alle
          relevanten Details auf einen Blick, ohne die Notwendigkeit, sich durch
          unübersichtliche PDF-Dateien zu kämpfen.
        </li>
      </ul>
      <p class="text-[12px]">
        Erleben Sie den Unterschied und optimieren Sie Ihre Arbeitsabläufe mit
        unserer intelligenten Lösung für die Verwaltung von
        Anwendungshandbüchern in der Energiewirtschaft. Willkommen bei AHB
        Tabellen – weil wir an den Menschen denken.
      </p>
    </div>
  </section>
  <app-footer />
</div>
