<div class="min-h-screen flex flex-col">
  <section class="bg-hf-grell-rot flex-grow flex items-center justify-center">
    <div class="rounded-3xl w-1/3 bg-hf-pastell-rot p-12 transition-all duration-300">
      <h1 class="text-3xl text-hf-weiches-schwarz pb-5">AHB Tabellen</h1>
      <h2
        class="text-lg border-b border-hf-weiches-schwarz text-hf-weiches-schwarz pb-3 mb-5 uppercase">
        Anwendungshandbücher für Menschen
      </h2>
      <div class="text-hf-weiches-schwarz space-y-6">
        <p>
          AHB-Tabellen ist ein intuitives Tool, das die Navigation in Anwendungshandbüchern
          vereinfacht, indem es die Daten pro Prüfidentifikator klar darstellt.
        </p>
        <p>
          Einfach die Formatversion und den Prüfidentifikator eingeben, um direkten Zugriff zu
          erhalten.
        </p>
      </div>
      <div class="mt-10 flex justify-center relative z-10">
        <button
          (click)="onOpenClick()"
          class="flex flex-row items-center gap-2 rounded-full bg-hf-grell-rot text-white text-lg px-5 py-2 ring-1 ring-black/5 hover:ring-black/10">
          <img
            src="assets/companystylesheet/icons/login.svg"
            alt="Login Icon"
            class="w-5 h-5 filter invert" />
          <span class="hover:underline">Jetzt öffnen</span>
        </button>
      </div>
    </div>
  </section>
  <app-footer />
</div>
