<div class="text-center p-5 bg-hf-grell-rose text-hf-weiches-schwarz rounded-lg">
  <p>
    Für den Prüfidentifikator <span class="font-bold">{{ pruefi }}</span> in der Formatversion
    <span class="font-bold">{{ formatVersion }}</span> konnten keine Daten gefunden werden.
  </p>
  <p>Bitte überprüfen Sie die Eingaben.</p>
  <p>
    Wenn Sie sich sicher sind, dass Daten fehlen, melden Sie sich über das Kontaktformular im Footer
    oder
    <a
      href="https://github.com/Hochfrequenz/ahb-tabellen/issues/new"
      title="erfordert einen Github Account"
      >öffnen Sie ein Fehlerticket</a
    >.
  </p>
</div>
