<app-header>
  <app-ahb-search-form-header
    [formatVersion]="formatVersion()"
    [pruefi]="pruefi()"
  />
</app-header>

@if (ahb$ | async; as ahb) {
  <section>
    <pre>{{ ahb.meta | json }}</pre>
  </section>
  <section>
    <input
      type="search"
      (search)="onSearchQueryChange()"
      placeholder="Tabelle durchsuchen"
      [formControl]="searchQuery"
    />
    @if (lines$ | async; as lines) {
      <app-ahb-table [lines]="lines" />
    }
  </section>
} @else {
  loading ...
}
