<app-header>
  <app-ahb-search-form-header
    class="flex-1 hidden md:inline"
    [formatVersion]="formatVersion()"
    [pruefi]="pruefi()"
  />
</app-header>

@if (ahb$ | async; as ahb) {
  <div class="flex flex-col md:flex-row mb-10">
    <section class="pt-10 mx-5">
      <h2 class="border-b inline-block pb-[12px] mb-[20px] uppercase">
        Anwendungshandbücher für Menschen
      </h2>
      <h3 class="font-bold text-[20px]">
        Anwendungshandbuch {{ ahb.meta.pruefidentifikator }}
      </h3>
      <p class="text-[20px] mb-5">{{ ahb.meta.description }}</p>
      <p class="text-[14px]">
        <span class="font-bold"> Sender/Empfänger: </span>
        {{ ahb.meta.direction }}
      </p>
    </section>
    <section class="pt-10 mx-5 text-right flex-1">
      <div>
        <app-input-search-enhanced
          class="inline-block w-full md:w-96"
          (searchQueryChange)="searchQuery.set($event)"
        />
      </div>
      <button
        class="rounded-full bg-[#EBBEC1] text-[16px] font-bold py-3 px-5 text-white mt-5"
        (click)="onClickExport()"
      >
        Export XML
      </button>
    </section>
  </div>
  <section>
    @if (lines$ | async; as lines) {
      <app-ahb-table [lines]="lines" [highlight]="searchQuery()" />
    }
  </section>
} @else {
  loading ...
}
