@if (formatVersions$ | async; as formatVersions) {
  <div class="flex flex-col items-start mt-2 h-auto w-full">
    <select
      id="format-version-select"
      class="inline-block border-2 border-white rounded-lg bg-hf-pastell-rose py-3 ps-3 pe-8 focus:outline-0 w-full"
      [formControl]="control"
      (change)="onChange ? onChange(control.value) : null">
      <option value="">Bitte auswählen</option>
      @for (formatVersion of formatVersions; track formatVersion.value) {
        <option [value]="formatVersion.value">{{ formatVersion.label }}</option>
      }
    </select>
    <label
      for="format-version-select"
      class="ml-3 -mt-14 text-xs inline-block text-slate-500 text-[12px] bg-white px-1">
      Formatversion
    </label>
  </div>
}
